<%= @room.name %>

      <p class="card-text less-opacity"><%= @room.floor %></p>

<div class="container new-page-identifier mt-0" id="new-song-container">
  <div class="row" >
    <h2 class="col-3 p-2">Library</h2>
    <div id="library-container">
      <div id="library">
        <% pieces = Piece.all.to_a %>
        <% pieces.each_with_index do  |piece, index| %>
          <div id="piece<%= index %>" class="library-item">
            <% @library_multiplier = 0.4 %>
            <% @room_multiplier = 0.8 %>
            <%= piece.name %>
            <% myWidth = (piece.width * @library_multiplier).to_s  + "px" %>
            <% myHeight = (piece.depth * @library_multiplier).to_s + "px" %>
            <% width_in_room =  (piece.width * @room_multiplier) %>
            <% height_in_room =  (piece.depth * @room_multiplier) %>
            <div id="piece image <%= index %>" draggable="true"  class="draggable"
              style="width: <%= myWidth %>; height: <%= myHeight %>; background-color: <%= piece.color %>; border-top: 3px solid rgba(30,30,30, 0.4)"
              data-roomwidth=<%= width_in_room %>; data-roomheight=<%= height_in_room %>;>
            </div>
          </div>
        <% end %>
      </div>
      <%= render partial: "room" %>
    </div>
      </div>
    </div>
    </div>
  </div>
</div>
